*{
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
    --primary: #2563eb;
    --primary-dark: #1d4ed8;
    --text-primary: #1f2937;
    --text-secondary: #3f4145;
    --subtext: #6b7280;
    --border: #e5e7eb;
    --bg-white: #ffffff;
    --bg-gray: #f9fafb;
    --star: #fbbf24;
    --star-empty: #e9eaeb;
    --shadow:  0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    --green: #16a34a;
    --red: #dc2626;
}